@import url('https://fonts.cdnfonts.com/css/abolition-test');
@import url('https://fonts.cdnfonts.com/css/zekton-2');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(171,69,42,1) 20%, rgba(197,80,48,1) 50%, rgba(225,91,55,1) 80%, rgba(0,0,0,1) 100%);
}

#carrusel{
    width: 100%;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}

#carrusel ul{
    width: 100%;
    display: flex;
    animation: slide 35s infinite alternate ease-in-out;
}

#carrusel ul li{
    width: 100%;
    list-style: none;
    position: relative;

}

#carrusel ul li img{
    height: 25%;
    filter: brightness(70%);
}

@keyframes slide{
    5% {margin-left: 0%;}
    15% {margin-left: 0%;}

    20% {margin-left: -100%;}
    35% {margin-left: -100%;}

    40% {margin-left: -200%;}
    55% {margin-left: -200%;}

    60% {margin-left: -300%;}
    75% {margin-left: -300%;}

    80% {margin-left: -400%;}
    85% {margin-left: -400%;}

    90% {margin-left: -500%;}
    100% {margin-left: -500%;}
}

header div{
    width: 100%;
    height: 30px;
    background-color: #02002685;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    height: 100px;
    margin-left: 45%;
}

header div a{
    color: #f9663d;
    margin: 0 30px;
    font-size: 20px;
    text-decoration: none;
}

header a:hover{
    color: #f9f300;
}

#titulo{
    width: 100%;
    height: 500px;
}


#titulo h1{
    font-family: 'Abolition Test', sans-serif;
    font-size: 150px;
    font-weight: normal;
    letter-spacing: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    text-shadow: 10px 1px #f9663de7;
}

#titulo h2{
    font-family: 'Abolition Test', sans-serif;
    font-size: 60px;
    font-weight: normal;
    color: white;
    display: flex;
    justify-content: center;
    margin: 0 30px 140px 0;
    text-shadow: -5px -1px #f9663de7;
}

#titulo a{
    font-family: 'Zekton', sans-serif;
    color: white;
    font-size: 22px;
    text-decoration: none;
    margin-left: 45%;
}

#titulo a:hover{
    color: #f9f300;
}

#entrenamientos p{
    font-family: 'Abolition Test', sans-serif;
    font-size: 90px;
    font-weight: normal;
    color: white;
    display: flex;
    justify-content: center;
    text-shadow: -5px 1px 5px black;
    margin: 100px 0 40px 0;
}

#video1 {
    width: 850px;
    margin: auto;
}

#video1 video{
    margin-bottom: 40px;
}

#galeria{
    width: 93%;
    columns: 4;
    margin: auto;
}

#columna img{
    width: 310px;
    outline: 2px solid white;
    outline-offset: -4px;
    margin-bottom: 5px;
}

#diasyhorarios p{
    font-size: 90px;
    margin-bottom: 20px;
}

#diasyhorarios a{
    font-family: 'Zekton', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
}

#saturno, #avance{
    display: flex;
    justify-content: center;
}

#saturno video, #avance video{
    height: 350px;
    margin: 50px 50px;
}

#saturno iframe, #avance iframe{
    width: 450px;
    height: 350px;
    margin: 50px 50px;
    border-radius: 10px;
}

#video2{
    width: 880px;
    margin: auto;
}

#video2 video{
    height: 500px;
    margin-bottom: 50px;
}

#valores{
    width: 600px;
    margin: auto;
    margin-bottom: 50px;
}

#info a{
    color: white;
    font-family: 'Abolition Test', sans-serif;
    font-size: 50px;
    text-decoration: none;
    margin-left: 22%;
}

#info a:hover{
    color: #f9f300;
}

footer div{
    height: 180px;
    background-color: #05001f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

footer div a img{
    height: 150px;
    margin-left: 80px;
}

footer div p{
    color: white;
    margin-left: 50px;
}

footer div nav a img{
    height: 60px;
    margin: 15px;
}

@media (max-width: 600px){

    #carrusel ul li img{
        height: 10%;
    }

    header img{
        height: 60px;
    }

    header div a {
        font-size: 16px;
    }

    #titulo{
        height: 100px;
    }

    #titulo h1{
        font-size: 60px;
        margin: 0;
        text-shadow: -5px 1px #f9663de7;
    }

    #titulo h2{
        font-size: 30px;
        margin-bottom: 30px;
        text-shadow: -2px 1px #f9663de7;
    }

    #titulo a{
        font-size: 15px;
        margin-left: 40%;
    }

    #galeria{
        width: 85%;
        columns: 2;
        margin: auto;
    }

    #columna img{
        width: 98%;
    }

    #diasyhorarios p{
        font-size: 80px;
    }

    #diasyhorarios a{
        font-size: 18px;
    }

    #saturno, #avance{
        display: block;

    }

    #saturno video, #avance video{
        width: 80%;
    }

    #saturno iframe, #avance iframe {
        width: 80%;
    }

    #video1 {
        width: 80%;
        margin: auto;
    }

    #video1 video {
        width: 100%;
        height: 0%;
        margin-top: 15%;
    }

    #video2 {
        width: 80%;
        margin: auto;
    }

    #video2 video {
        width: 100%;
        height: 0%;
        margin-top: 15%;
    }

    #valores img{
        width: 80%;
        margin: 10%;
    }

    #info{
        display: block;
        text-align: center;
    }

    #info a{
        margin: 20px;
    }

    footer div{
        height: 100%;
        display: block;
        text-align: center;
    }

    footer div a img {
        height: 100px;
        margin: 20px;
    }
}

@media (max-width: 400px){

    #carrusel ul li img{
        height: 10%;
    }

    header div{
        height: 35px;
        display: block;
        text-align: center;
    }

    header img{
        height: 60px;
    }

    header div a {
        font-size: 16px;
        margin: 0 30px;
    }

    header #dep{
        margin-left: 75px;
    }

    #titulo{
        height: 150px;
    }

    #titulo h1{
        font-size: 60px;
        margin: 0;
        text-shadow: -5px 1px #f9663de7;
    }

    #titulo h2{
        font-size: 30px;
        margin-bottom: 30px;
        margin-right: 10px;
        text-shadow: -2px 1px #f9663de7;
    }

    #titulo a{
        font-size: 15px;
        margin-left: 40%;
    }

    #entrenamientos p{
        font-size: 60px;
        margin: 50px 0 20px 0;
    }

    #galeria{
        width: 85%;
        columns: 2;
        margin: auto;
    }

    #diasyhorarios p{
        font-size: 50px;
    }

    #diasyhorarios a{
        font-size: 16px;
    }

    #saturno video, #avance video{
        width: 80%;
        height: 0%;
        margin: 20px 35px;
    }

    #saturno iframe, #avance iframe {
        width: 80%;
        height: 0%;
        margin: 20px 35px;
    }

    #valores{
        width: 100%;
        margin: 0;
    }
}
